@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", system-ui, sans-serif;
  @apply bg-neutral text-slate-800;
}

#root {
  min-height: 100vh;
}
